/* RESET */
body {
  margin: 0;
  padding: 0;
  background-color: midnightblue;
}
p {
  color: white;
  margin: 0 2%;
  font-family: "Arial";
}
ul, ol {
  margin: 0;
  padding-left: 25px;
}
li {
  color: white;
  font-family: "Arial";
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 50px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background-color: black;
  padding: 0 3%;
  box-sizing: border-box;
}
.title {
  line-height: 50px;
  font-size: 30px;
  color: white;
  margin: 0;
}

/* SUBTITLE */
.content-title {
  color: mediumturquoise;
  margin-left: 2%;
  margin-bottom: 0;
  scroll-margin-top: 50px;
}
#profile {
  margin-top: 0;
}

/* MENU */
.menu-btn {
  font-size: 30px;
  color: white;
}
.menu-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  background-color: teal;
  border-radius: 0 0 0 40px;
  box-shadow: 0 5px 15px black;
}
.menu-content a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: block;
  font-family: "Arial";
  text-align: center;
  margin: 0;
}
.opened {
  display: block;
}

/* CONTENT BOX */
.container {
  background-color: royalblue;
  border-radius: 10px;
  margin: 0 2%;
  padding: 2%;
}

/* SKILLS SECTION */
.skills-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(4, 50px);
}
.progress-bar {
  height: 30px;
  width: 100%;
  background-color: lightgrey;
  border-radius: 25px;
  margin: auto;
}
.bar {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 25px 0 0 25px;
  font-family: "Arial";
}
.python {
  width: 80%;
  background-color: yellow;
}
.js {
  width: 50%;
  background-color: red;
}
.css {
  width: 45%;
  background-color: mediumspringgreen;
}
.cpp {
  width: 30%;
  background-color: salmon;
}
.skill-label {
  line-height: 50px;
  color: white;
  text-align: center;
}

/* SOCIAL SECTION */
.social-link {
  text-decoration: none;
  color: lawngreen;
}

/* FOOTER */
footer {
  color: white;
  text-align: center;
  background-color: black;
  margin: 5px 0;
  padding: 5px 0;
  font-family: "Arial";
}

/* DESKTOP SETUP */
@media only screen and (min-width: 768px){
  .content-title {
    font-size: 2em;
  }
  p, li, a, footer {
    font-size: 1.5em;
  }
  ul, ol {
    padding-left: 55px;
  }
  header, .title {
    line-height: 100px;
  }
  .title, .menu-btn {
    font-size: 60px;
  }
  .content-title {
    scroll-margin-top: 100px;
  }
  .menu-content {
    text-align: center;
    border-radius: 0;
  }
  .menu-content a {
    display: inline;
  }
  .menu-content a::after {
    content: "/";
    margin: 0 20px;
  }
  .container {
    border-radius: 25px;
  }
  .skills-grid {
    width: 75%;
    grid-template-rows: repeat(4, 100px);
  }
  .skill-label {
    line-height: 100px;
    font-size: 2rem;
  }
  .progress-bar {
    height: 62.5px;
    border-radius: 50px;
  }
  .bar {
    height: 62.5px;
    line-height: 62.5px;
    font-size: 2rem;
    border-radius: 50px 0 0 50px;
  }
}